EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAStqkIhJOuoGhUtNCg5OuN623RkKGpxeA
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=estudai-628ed.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=estudai-628ed
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=estudai-628ed.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=133885041211
EXPO_PUBLIC_FIREBASE_APP_ID=1:133885041211:web:329ca0e8c4330c770d1a1e
EXPO_PUBLIC_GEMINI_API_KEY=AIzaSyCUr0EWbtQiRycsfIvGCr2f7eKss4SNkhQ

# Copy this file to `.env` and fill the values. Do NOT commit `.env`.